<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<filter>
		<filter-name>requestFilter</filter-name>
		<filter-class>sdloader.testwebapp.filteranddispatchtest.RequestFilter</filter-class>
	</filter>
	<filter>
		<filter-name>includeFilter</filter-name>
		<filter-class>sdloader.testwebapp.filteranddispatchtest.IncludeFilter</filter-class>
	</filter>
	<filter>
		<filter-name>forwardFilter</filter-name>
		<filter-class>sdloader.testwebapp.filteranddispatchtest.ForwardFilter</filter-class>
	</filter>
	<filter>
		<filter-name>allFilter</filter-name>
		<filter-class>sdloader.testwebapp.filteranddispatchtest.AllFilter</filter-class>
	</filter>
	
   	<filter-mapping>
		<filter-name>requestFilter</filter-name>
		<url-pattern>/filterAndDispatchTest/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>	
   	<filter-mapping>
		<filter-name>includeFilter</filter-name>
		<url-pattern>/filterAndDispatchTest/*</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>forwardFilter</filter-name>
		<url-pattern>/filterAndDispatchTest/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>allFilter</filter-name>
		<url-pattern>/filterAndDispatchTest/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>		
	</filter-mapping>

	<servlet>
		<servlet-name>requestServlet</servlet-name>
		<servlet-class>sdloader.testwebapp.filteranddispatchtest.RequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>includeServlet</servlet-name>
		<servlet-class>sdloader.testwebapp.filteranddispatchtest.IncludeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forwardServlet</servlet-name>
		<servlet-class>sdloader.testwebapp.filteranddispatchtest.ForwardServlet</servlet-class>
	</servlet>
	

	<!-- load onstartup test -->
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>sdloader.testwebapp.loadonstartuptest.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>sdloader.testwebapp.loadonstartuptest.Servlet2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>S3</servlet-name>
        <servlet-class>sdloader.testwebapp.loadonstartuptest.Servlet3</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>S4</servlet-name>
        <servlet-class>sdloader.testwebapp.loadonstartuptest.Servlet4</servlet-class>
		<load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>S5</servlet-name>
        <servlet-class>sdloader.testwebapp.loadonstartuptest.Servlet5</servlet-class>
		<load-on-startup>1</load-on-startup>
    </servlet>
	<!-- //load onstartup test -->
	
	<servlet-mapping>
		<servlet-name>requestServlet</servlet-name>
		<url-pattern>/filterAndDispatchTest/requestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>includeServlet</servlet-name>
		<url-pattern>/filterAndDispatchTest/includeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forwardServlet</servlet-name>
		<url-pattern>/filterAndDispatchTest/forwardServlet</url-pattern>
	</servlet-mapping>



    <welcome-file-list>
        <!-- <welcome-file>welcometest/welcome.html</welcome-file> -->
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
