<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<!-- load onstartup test -->
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>sdloader.testloadonstartup.servlet.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>sdloader.testloadonstartup.servlet.Servlet2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>S3</servlet-name>
        <servlet-class>sdloader.testloadonstartup.servlet.Servlet3</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>S4</servlet-name>
        <servlet-class>sdloader.testloadonstartup.servlet.Servlet4</servlet-class>
		<load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>S5</servlet-name>
        <servlet-class>sdloader.testloadonstartup.servlet.Servlet5</servlet-class>
		<load-on-startup>1</load-on-startup>
    </servlet>
	<!-- //load onstartup test -->
	
</web-app>
